<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silicon street</title>
    <link rel="stylesheet" href="./dist/output.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <style>
        @font-face {
            font-family: 'dune';
            src: url('/fonts/Dune_Rise.woff') format('woff');
        }
    </style>
</head>

<body class="bg-custom">
    <div class="main relative overflow-x-hidden">

        <div class="user_div absolute w-[500px] h-screen -right-[500px] shadow-2xl bg-[#EDE6E3]">
        
            <div class="p-10 w-full flex items-center justify-between">
                <div class="flex items-center gap-3">
                    <i class="create_icon ri-login-box-line text-2xl cursor-pointer"></i>
                    <i class="login_icon ri-account-box-line text-2xl cursor-pointer"></i>
                </div>
                <i class="ri-close-line close_icon text-5xl cursor-pointer"></i>
            </div>
        
            <div class="p-10 w-full h-auto">
                <div class="w-full h-[200px] relative overflow-y-hidden">
                    <div class="create_form w-full h-full absolute -top-[100%]">
                        <form class="w-full h-full flex flex-col gap-4">
                            <input type="text" placeholder="username"
                                class="pl-5 w-full h-10 outline-none rounded-md input_create">
                            <input type="text" placeholder="email"
                                class="pl-5 w-full h-10 outline-none rounded-md input_create">
                            <input type="password" placeholder="password"
                                class="pl-5 w-full h-10 outline-none rounded-md input_create">
                            <button class="pr-5 pl-5 bg-red-500 p-2 rounded-md w-20 input_create">create</button>
                        </form>
                    </div>
                    <div class="login_form w-full h-full absolute z-0 -top-[100%]">
                        <form class="w-full h-full flex flex-col gap-4">
                            <input type="text" placeholder="email"
                                class="pl-5 w-full h-10 outline-none rounded-md login_create">
                            <input type="password" placeholder="password"
                                class="pl-5 w-full h-10 outline-none rounded-md login_create">
                            <button class="pr-5 pl-5 bg-red-500 p-2 rounded-md w-20 login_create">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        
        </div>

        <div class="main_2 h-screen flex flex-col justify-between">
            <!-- Navigation -->
            <div class="navigation flex items-center justify-around py-12">
                <div class="navigation_logo">
                    <!-- <img src="/photo/logo.png" alt="logo" class="h-20 w-20" /> -->
                </div>
                <div class="navigation_category flex gap-14">
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/">Home</a>
                        <!-- <h3>Home</h3> -->
                        <div class="bottom_line w-0 h-0.5 bg-black" id="home_line"></div>
                    </div>
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/shop">Shop</a>
                        <div class="bottom_line w-0 h-0.5 bg-black" id="shop_line"></div>
                    </div>
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/pre-build">pre-build</a>
                        <div class="bottom_line w-0 h-0.5 bg-black" id="Pre_build_line"></div>
                    </div>
                    <div class="navigation_ele cursor-pointer">
                        <a class="nav_ font-custom font-bold" href="/cart">cart</a>
                        <div class="bottom_line w-0 h-0.5 bg-black" id="cart_line"></div>
                    </div>                    
                </div>
                <div class="navigation_icon cursor-pointer">
                    <i class="icon ri-admin-line text-2xl"></i>
                </div>
            </div>

            <!-- Shop -->
            <div class="w-full mb-24 flex justify-center">
                <div class="w-5/6 pt-10 pr-10 pl-10 flex flex-wrap justify-between">
                    <!-- product -->

                    <div class="flex flex-col gap-20 shadow-2xl mb-20">
                        <div class="w-[450px] h-auto rounded-md">
                            <div class="m-10 h-[390px] w-[370px]">
                                <img src="photo/img_3.jpeg" alt="pc">
                            </div>
                            <div class="m-10 h-auto w-[370px]">
                                <h1 class="text-2xl font-bold">Player : Three</h1>
                                <h3 class="opacity-75 pt-0">H7 Flow RTX 4070 Ti SUPER Gaming PC</h3>
                                <h1 class="pt-2 text-purple-600 text-xl">$3,199</h1>
                                <div class="gap-5 flex pr-2 mb-10 mt-5">
                                    <button class="bg-yellow-400 p-2 pr-3 pl-3 rounded-md">Add to cart</button>
                                    <button class="bg-red-600 p-2 pr-5 pl-5 rounded-md font-mono">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- footer -->
            <footer class="w-full bg-black h-[300px] flex justify-center items-center">
                <div class="w-4/5 h-full">
                    <div class="flex justify-between mt-20 text-white">
                        <div>
                            <ul>
                                <li class="font-custom font-bold">CONTACT</li>
                                <li class="pt-4">Customer Support</li>
                                <li>Submit a Request</li>
                                <li>Support Center</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">ABOUT SILICON STREET</li>
                                <li class="pt-4">Company</li>
                                <li>Founder Q & A</li>
                                <li>Careers</li>
                                <LI>Customer Reviews</LI>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">COMMUNITY</li>
                                <li class="pt-4">Our Discord</li>
                                <li>Newsroom & Blog</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">SOFTWARE</li>
                                <li class="pt-4">CAM</li>
                                <li>CAM Feedback</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">ACCOUT</li>
                                <li class="pt-4">Manage Your Account</li>
                            </ul>
                        </div>
                        <div>
                            <ul>
                                <li class="font-custom font-bold">STORE</li>
                                <li class="pt-4">PC Parts and Accessories</li>
                                <li>Certified Refurbished Gaming PCs</li>
                                <li>Find a Retailer</li>
                                <LI>FAQ</LI>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
    integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="./js/animation.js"></script>

</html>